<div class="clearfix">
	<div class="modal-header model-grey-color">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">View Jersey ({{jersey._id}})</h4>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>League</dt>
			<dd>{{jersey.league}}</dd>
			<dt>Team</dt>
			<dd>{{jersey.team}}</dd>
			<dt>Era</dt>
			<dd>{{jersey.era}}</dd>
			<dt>Uniform</dt>
			<dd>{{jersey.uniform}}</dd>
			<dt>Color</dt>
			<dd>{{jersey.color}}</dd>
			<dt>Player</dt>
			<dd>{{jersey.player}}</dd>
			<dt>Number</dt>
			<dd>{{jersey.number}}</dd>
		</dl>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancelModal()"><i class="fa fa-close"></i> Close</button>
	</div>
</div>